<%- include("../partials/header")%>
<%- include("../partials/navbar")%>


<div class="container text-center" style="margin-top: 5rem; ">
    
    <div class="row" style="margin-top: 10rem; margin-bottom: 8rem;">
        <div class="col-sm-5 shadow-lg p-3 mb-5 bg-white rounded "  >
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Seller's Section</h5>
              <br>
              <a href="/loginseller" class="btn btn-primary" style="width: 100px;">Login</a>
              <br> <br>
              <a href="/registerseller" class="btn btn-primary" style="width: 100px;">Register</a>
              <br><br>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5 shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Buyer's Section</h5>
              <br>
              <a href="/login" class="btn btn-primary" style="width: 100px;">LogIn</a>
              <br><br>
              <a href="/register" class="btn btn-primary" style="width: 100px;">Register</a>
              <br><br>
            </div>
          </div>
        </div>
      </div>
</div>


<%- include("../partials/footer")%>