<footer class="footer py-3 mt-auto text-white text-center" style=" background-color: #0077b6;width: 100%;">
  <div class="row container-fluid">
    <div class="col-lg-3">
        <h4 style="color: white;">Download Our App</h4>
        <h6 style="color: #8d99ae;">Coming Soon</h6>
        <a href="#"><img src="/assets/gplay.png" alt=""style="width: 250px;height: 50px;"></a>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-4 mt-3">
      <img src="https://icon-library.com/images/shop-now-icon/shop-now-icon-8.jpg" style="width: 180px;height: 60px; border-radius: 10px; margin-top: 10px;" alt="On-Line Shop">
    </div>
    <div class="col-lg-2">
        <h6 style="color: white;">Contact us</h6>
        <span><i class="fas fa-phone-alt"> 7877939985</i></span>
        <br>
        <a href="https://web.whatsapp.com/" target="_blank"  style="text-decoration: none; color: white;" ><i class="fab fa-whatsapp">  7877939985</i></a>
        <br>
        <a href="https://goo.gl/maps/bkPbhJ2KabaQoeLe6" target="_blank"  style="text-decoration: none; color: white;" ><i class="fas fa-map-marker-alt"></i> Kolkata</i></a>
        <br>
        
    </div>
    <div class="col-lg-2 mb-2">
        <h6 style="color: white;">Follow us</h6>
        <a href="https://www.instagram.com/_i_am_aman._/" target="_blank" style="text-decoration: none; color: white;" ><i class="fab fa-instagram">&nbsp; Instagram</i></a>
        <br>
        <a href="https://www.facebook.com/profile.php?id=100010086463015" target="_blank" style="text-decoration: none; color: white;" ><i class="fab fa-facebook">&nbsp; Facebook</i></a>
        
        <br>
        <a href="https://www.linkedin.com/in/aman-kumar-38a577216/" target="_blank" style="text-decoration: none; color: white;" ><i class="fab fa-linkedin-in">&nbsp; Linkedin</i></a>
        <br>
        <a href="https://github.com/aman7877" target="_blank" style="text-decoration: none; color: white;" ><i class="fab fa-github"> &nbsp;Github</i></a>
    </div>
    <hr>
    <div class="container">
        <span>&copy; Shop-Now 2021</span>
    </div>
</div>
  </footer>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })()
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>