<%- include("./partials/header")%>
<%- include("./partials/navbar")%>

    <br>
    <div class="mt-5 text-center">
        <%- include("./partials/flash")%>
        <img src="/assets/error.jpeg" alt="This is a Error Page" style="min-height: 42vh; width: 46vw;">
    </div>
    

    <%- include("./partials/footer")%>
